{% extends "@ApplicationProjectContent/base/base_web.html.twig" %}

{% block title %}
    list
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 5%">
        <div class="row">

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Empreendimento</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_empreendimento_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo StatusEmpreendimento</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_statusEmpreendimento_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Bloco</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_bloco_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Unidade</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_unidade_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Empresa</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_empresa_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Topico</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_topico_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4>
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo PerguntaFrequente</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_perguntaFrequente_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}




